<!DOCTYPE html>
<html>
<head>
  <title>RequirejsRailsJasmineTemplate</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= requirejs_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <script type="text/template" id="main-view">
    {{= name }}
  </script>

  <div class="container">

  </div>

<%= yield %>

</body>
</html>
